<div class="popup-container">

<h2>Edit task</h2>

<%= simple_nested_form_for [@project, @task] do |f| %>
	  <%= f.input :name, required: true %>
	  <%= f.input :description, as: :text %>
    <div class="clearfix">
    <%= f.button :submit, class:"pull-right btn-info"  %>
    </div>
<% end %>
<div class="links-row">
	<%= link_to 'â† Back to Projects', projects_path %>
</div>
</div>