<h1>Welcome#index</h1>

<p>Try to log in to our Task manager</p>



<%= simple_form_for User.new do |f| %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :password %>
    <%= f.input :remember_me, inline_label: 'Yes, remember me', input_html: {value: '1'} %>
    <%= f.button :submit, input_html: { maxlength: 20 } %>

<% end %>

<a href="https:www.google.com">Forgot password?</a>
