<h1>My Projects</h1>

<% if @projects.empty? %>
    <b>You have no projects yet</b>
<% end %>

<table>
  <tr>
    <th>Project Id</th>
    <th>Project Name</th>
    <th>Link to Edit</th>
    <th>Link to Delete</th>
  </tr>
  
  <% @projects.each do |i| %>

      <tr>
        <td><%= i.id %></td>
        <td>
          <%= link_to i.name, project_path(i) %></td>
        <td>
          <% if can? :update, i %>
          <%= link_to 'Edit', edit_project_path(i) %>
          <% end %></td>
        <td>
          <% if can? :destroy, i %>
          <%= link_to 'Delete', i, method: :delete, data: { confirm: 'Are you sure to delete?'} %>
          <% end %>
        </td>

      </tr>


  <% end %>

</table>



<div>
<%= link_to 'Create new project', new_project_path %>
</div>

