<div class="project-container container">
<ul class="main-menu">
  <li>
    <%= link_to 'Edit my profile', edit_user_registration_path %>
  </li>
  <li>
    <%= link_to 'Log Out', destroy_user_session_path, :method => :delete, class:"btn pull-right" %>
  </li>
</ul>

<h2>My Projects</h2>

  <table class="table project-table">
<% if @own_projects.empty?  && !@user_has_assign_projects %>
  <tr>
    <td colspan="4">
      <center>
      <br>    
      <h4>You don't have any projects yet</h4>
      <br>
      <%= link_to 'Create Project', new_project_path, class:"btn btn-info" %>
      <br>
      <br>    
      </center>
    </td>
  </tr>
<% else %>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th colspan="2">
        <div class="pull-right">
        <%= link_to 'Create new project', new_project_path %>
        </div> 
      </th>
    </tr>   
    <% @own_projects.each do |p| %>
        <tr>
          <td class="col-id"><%= p.id %></td>
          <td class="col-name">
            <%= link_to p.name, project_path(p) %></td>
          <td class="col-edit"> 
            <%= link_to 'Edit', edit_project_path(p) %>
          </td>
          <td class="col-delete"> 
            <%= link_to 'Delete', p, method: :delete %>
          </td>
        </tr>
    <% end %>
<% end %>
  <% if @user_has_assign_projects %>
  <% @assign_projects.each do |p| next if current_user.id == p.owner_id %>
      <tr>
        <td class="col-id"><%= p.id %></td>
        <td class="col-name">
          <%= link_to p.name, project_path(p) %></td>
        <td class="col-edit">
        </td>
        <td class="col-delete">
        </td>
      </tr>
  <% end %>
  <% else %>
  <p>lorem ipsum</p>
<% end %>  
</table>
</div>

