<h1>Project page</h1>

<h3><%= @project.name %></h3>

<ul>
  <li><%= @projectOwnerEmail %></li>
</ul>



<table>  
  <% @tasks.each do |item| %>

      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
		<td><%= item.description %></td>
      </tr>


  <% end %>

</table>

<div>
<%= link_to 'Add User', add_user_to_project_path %>
</div>

<div>
<%= link_to 'Go to My Projects', projects_path %>
</div>

<div>
<%= link_to 'Add New task', new_task_path %>
</div>